*{
    color: gray;
}
p em{
    color: blue;
}
p strong{
    color: green;
}
p em strong{
    color: crimson;
}



p.parrafo1{
    font-family: Arial, Helvetica, sans-serif;
    color: peru;
}
p.parrafo2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkorange;
}
.destacado{
    font-style: italic;
    color: tomato;
}
#especial{
    letter-spacing: 10px;
}
#miTitulo{
    text-align: center;
    color: red;
}


